<ion-header>
    <ion-navbar>
        <ion-title>
            Todo App
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addTask()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="auth.authenticated">
        <h3>Olá, {{auth.nameUser}}</h3>
        <ion-list>
            <ion-item-sliding *ngFor="let task of tasks | async">
                <ion-item (click)="editTask(task)">{{task.name}}</ion-item>
                <ion-item-options slider="right">
                    <button ion-button color="danger" (click)="removeTask(task)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

        <h2>My Position</h2>
        <div *ngIf="position">
            <p>Latitude: {{position.coords.latitude}}</p>
            <p>Logintude: {{position.coords.longitude}}</p>
            <agm-map [latitude]="position.coords.latitude" [longitude]="position.coords.longitude" [zoom]="15">
                <agm-marker [latitude]="position.coords.latitude" [longitude]="position.coords.longitude"></agm-marker>
            </agm-map>
        </div>

    </div>
    <div *ngIf="!auth.authenticated">
        <button ion-button icon-left (click)="login()">
            <ion-icon name="facebook"></ion-icon>
            Sign In Facebook
        </button>
    </div>
</ion-content>
